// @import url('https://fonts.googleapis.com/css?family=BioRhyme+Expanded')
@import url('https://fonts.googleapis.com/css?family=Titan+One')

.title
	margin: 0
	text-align: center
	background-color: yellow
	h1
		margin: 0
		font-family: 'BioRhyme Expanded',"Courier New",Courier,monospace
    font-style: normal
    font-weight: 400
		color: #64208d

	.title-logo
		height

.slider
	display: flex
	justify-content: space-around
	align-items: center
